${project.name} Overview

================================================================================

* The fundamental idea

  A jvm-based software is a collection of bundles.

================================================================================

